<% @astronauts.each do |astronaut| %>
  <div id="astronaut-<%= astronaut.id %>">
    <%= astronaut.name %>
      <% @missions.each do |mission| %>
      <%= mission.title %>
      <% end %>
    <%= astronaut.age %>
    <%= astronaut.job %>
  <% end %>
</div>



Average Age: <%= @astronauts.average_age %>
